@charset "utf-8";

// Color Variables
$blue: #150c2f;

// Bulma Component Variables
$primary: $blue;
$body-background-color: white;
$navbar-item-img-max-height: 48px;
$navbar-padding-horizontal: 3.75rem;
$navbar-item-hover-background-color: none;
$navbar-item-hover-color: white;
$navbar-background-color: $primary;
$button-text-color: $primary;

// Imports
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

// Main

html {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#hero {
    background: #150c2f;
}

#title {
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
}

#subtitle {
    animation-name: moveInRight;
    animation-duration: 1.5s;
}

#skills {
    background: white;
    height: 100%;
    margin-bottom: 150px;
}

#skills h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

#skills h2 {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

#buttons {
    display: block;
    position: absolute;
    padding-bottom: 150px;
    left: 53%;
    transform: translate(-50%);
}

#buttons a {
    margin: 15px;
}

#projects {
    background: $blue;
    height: 100vh;
}

#projects h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

// Animations

// Title Animation

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}