@charset "utf-8";

// Color Variables
$blue: #150c2f;

// Bulma Component Variables
$primary: $blue;
$body-background-color: $primary;
$navbar-item-img-max-height: 48px;
$navbar-padding-horizontal: 3.75rem;
$navbar-item-hover-background-color: none;
$navbar-item-hover-color: white;
$navbar-background-color: $primary;
$button-text-color: $primary;

// Imports
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

// Main

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#title {
    font-weight: 400;
}

#skills {
    background: white;
}

#skills h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

#skills h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
